* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./images/bg-mobile.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(257deg, 40%, 49%);
  padding: 2.3em;
  position: relative;
}
@media (min-width: 1200px) {
  body {
    min-height: 100vh;
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257deg, 40%, 49%);
    padding: 0em 5em;
    display: flex;
    align-items: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  main {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-top: 3em;
    padding-bottom: 2.5em;
  }
}
main .logo {
  margin-bottom: 3.3em;
  width: 100%;
}
@media (min-width: 1200px) {
  main .logo {
    margin-bottom: 5em;
  }
}
main .logo img {
  max-width: 43%;
}
@media (min-width: 1200px) {
  main .logo img {
    max-width: 16%;
  }
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .content-container {
    display: grid;
    grid-template-columns: 56% auto;
  }
}
.content-container .image-container {
  margin-bottom: 3.5em;
}
@media (min-width: 1200px) {
  .content-container .image-container {
    margin: 0;
  }
}
.content-container .image-container img {
  width: 100%;
}
.content-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .content-container .content {
    text-align: start;
    padding-left: 2.3em;
    padding-top: 6em;
    display: flex;
    height: 100%;
    align-items: flex-start;
  }
}
.content-container .content h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-family: 600;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
@media (min-width: 1200px) {
  .content-container .content h1 {
    text-align: start;
    font-size: 2.4rem;
  }
}
.content-container .content p {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
@media (min-width: 1200px) {
  .content-container .content p {
    text-align: start;
    font-size: 1.1rem;
  }
}
.content-container .content button {
  padding: 1.2em 6.5em;
  border-radius: 30px;
  border: none;
  margin-bottom: 5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: hsl(257deg, 40%, 49%);
  background-color: white;
}
.content-container .content button:hover {
  background-color: hsl(300deg, 69%, 71%);
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.socials {
  position: absolute;
  bottom: 0;
  align-self: center;
}
@media (min-width: 1200px) {
  .socials {
    position: relative;
    align-self: flex-end;
  }
}
.socials ul {
  display: flex;
  gap: 0.5em;
}
@media (min-width: 1200px) {
  .socials ul {
    gap: 0.8em;
  }
}
.socials ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  list-style: none;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 0.9rem;
}
@media (min-width: 1200px) {
  .socials ul li {
    width: 2.2em;
    height: 2.2em;
    font-size: 1.15rem;
    border: 2px solid white;
  }
}
.socials ul li a {
  color: white;
}
.socials ul li:hover a {
  color: hsl(300deg, 69%, 71%);
}
.socials ul li:hover {
  border-color: hsl(300deg, 69%, 71%);
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
@media (min-width: 1200px) {
  footer {
    position: relative;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */